/* stock overview */
.preselectionHeader {
  display: flex;
  align-items: center;
  background: #00897b;
  width: 100%;
  padding: 6px 12px;
  color: white;
  position: absolute;
  top: -40px;
}

.preselectionNumber {
  width: 16px;
  height: 16px;
  padding: 15px 14px 13px;
  border-radius: 50%;
  background-color: #4db6ac;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.preselectionText {
  font-size: 14px;
  margin-left: 24px;
}

.preselectionButton {
  margin-left: auto;
}

.commodityTable {
  position: relative;
}

.dispenseColumn {
  text-align: right !important;
}

.commodityTableLastDispensing :first-child {
  color: #6e7a8a;
}

.commodityTableLastDispensing :nth-child(2) {
  margin-left: 10px;
}
