/* DetailViewInfoBox*/

.infoBox {
  display: flex;
  align-items: center;
  border: 1px solid #e8edf2;
  height: 76px;
  gap: 16px;
  padding: 16px;
}

.infoBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.infoBox svg {
  width: 32px;
  height: 32px;
  color: #4a5768;
}

.infoBoxTitle {
  color: #4a5768;
  font-size: 14px;
  font-weight: 400;
}

.infoBoxValueContainer {
  display: flex;
  align-items: baseline;
}

.infoBoxValue {
  font-weight: 500;
}

.infoBoxValueText {
  color: #4a5768;
  font-size: 12px;
  font-weight: 400;
  margin-right: 8px;
}
