/* transaction for day */
.transactionItemContainer :hover {
  background-color: #eaebec;
}

.transactionItemContainer :hover {
  background-color: #eaebec;
}

.transactionsItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.transactionItem {
  display: flex !important;
  align-items: center;
  padding: 16px;
  height: 76px;
}

.transactionsDate {
  height: 38px;
  background-color: #f3f5f7;
  border: 1px solid #e8edf2;
  padding: 8px;
  font-weight: 600;
  margin-bottom: 10px;
}

.transactionItemFirstHalf {
  display: flex;
  width: 38%;
}

.transactionItemSecondHalf {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.transactionCommodities {
  flex-basis: calc((100% / 12) * 8);
  display: flex;
}

.transactionTime {
  flex-basis: calc((100% / 12) * 4);
  text-align: center;
}

.transactionActors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
  flex-basis: calc((100% / 12) * 4);
  gap: 6px;
}

.transactionActors p {
  margin-top: 0;
  margin-bottom: 0;
}

.transactionActors p span {
  color: gray;
  margin-right: 3px;
}

.transactionType {
  display: flex;
  align-items: flex-start;
  flex-basis: calc((100% / 12) * 3);
}

.transactionAmount {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% / 12) * 5);
}

.transactionAmount :first-child {
  font-weight: 700;
  font-size: medium;
}

.transactionAmount :nth-child(2) {
  color: gray;
}

.transDetailModalWrapper {
  min-width: 400px;
}
