/* common */

.container {
  display: flex;
  min-height: 100vh;
}

.sidenav {
  width: 300px;
  min-height: 100vh;
  padding-top: 24px;
}

.content {
  flex-grow: 1;
  min-height: 100vh;
  padding: 26px 16px 0;
  background: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin: 0;
}

.headerButtons {
  display: flex;
  gap: 12px;
}
